* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body p{
  font-size: 16px;
  font-weight: 400;
  color:#5A5A5D;
}

  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  header {
    background-color: #fff;
    color: black;
    padding: 20px 0;
    max-width: 1170px;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
 nav ul li a {
    color: #424247;
    text-decoration: none;
  }
  
  ul li a.active {
    font-weight: bold;
  }
  
  .content {
    text-align: center;
    padding: 50px 0;
  }
  
  .banner {
    width: 1170px;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('https://i.ibb.co/8dPty1b/Group-13-1-1.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 16px;
    position:relative;
  }

  .banner-text {
    position: absolute;
    top: 106px;
    left: 50%; 
    transform: translateX(-50%); 
    color: #fff; 
    font-size: 64px; 
    font-weight: 800;
  }
  .banner-paragraph {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 18px;
    text-align: center;
    width: 120%;
  }
  .button-container {
    position: absolute;
    top: 270px; 
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 80px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-1:hover {
    background-color: #ddd;
  }
.input-1{
  position:relative;
}
select{
  background:transparent;
  border:none;
  outline:none ;
}
.select-1{
  position:absolute;
  top:0;
  right: 0;
}

.button-1 {
  padding-left: 30px; 
  background-image: url('https://i.ibb.co/s2JfBQD/select.png'); 
  background-repeat: no-repeat;
  background-position: right center; 
}


.icon-1 {
  width: calc(100% - 30px); icon */
}

.find-button{
  background:#FF5400;
  width:174px;
}
input{
  width:174px;
}

.find-button {
  background-image: url('https://i.ibb.co/bz83vjs/search-icon.png'); 
  background-repeat: no-repeat;
  background-position: left center; 
  
}
button{
  
  background:#FF5400;
}

.popular {
  width: 1170px;
  height: 550px;
  margin: 50px auto;
}

.popular-container {
  display: flex;
  
}
.popular-container ul  {
 list-style-type: disc;
  
}


.popular-left {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
 
}

.popular-right {
  width: 50%;
}

.popular-left h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popular-left p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color:#5A5A5D;
}
.popular-list{
  list-style-type: disc;
}
.read-more {
  background-color: #FF5400;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.read-more:hover {
  background-color: #FF6E2E;
}

.popular-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*added  Media Query for Small Devices (600px and below) */
@media screen and (max-width: 600px) {

  

  .popular-container{
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    
  }
  .popular {
    margin: 20px auto; 
  }

  .popular-left,
  .popular-right {
    padding: 10px;
  }
}

/* added Media Query for Large Devices (992px and above) */
@media screen and (min-width: 992px) {
  .popular-container {
    flex-direction: row;
    margin: 0 auto;
    
  }

  .popular-left,
  .popular-right {
    width: 50%; 
  }
}

  .container {
      width: 1170px;
      height: auto;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }

    .image {
      height: 286px;
      object-fit: cover;
    }

    .row-1 {
      grid-template-columns: repeat(2, 1fr);
    }

    .row-2 {
      grid-template-columns: repeat(3, 1fr);
    }

    .row-3 {
      grid-template-columns: 473px 474px;
    }

    section {
        max-width: 1170px;
        margin: 0 auto;
        padding: 20px;
      }
  
      .choose-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .choose-paragraph {
        line-height: 1.5;
        margin-bottom: 20px;
      }
  
      /* Card styles */
      .card-container {
        display: flex;
        justify-content: space-between;
      }
  
      .card {
        width: calc(50% - 10px); /* Adjust for margin */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      .card-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .card-paragraph {
        line-height: 1.5;
      }
  
      .card img {
        width: 64px;
        height: 64px;
        margin-right: 10px;
      }


      /* Single section styles */
    .single-section {
        margin: 50px auto;
        width: 573px;
        height: 264px;
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
      }
  
      .single-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .single-paragraph {
        line-height: 1.5;
      }
  
      .single-img {
        width: 64px;
        height: 64px;
      }

      